.container {
  min-height: 80vh;
  background: #ebebeb;
  overflow: scroll;
  border-radius: 10px;
  border: 2px solid violet;
  height: 85vh;
           overflow-y:scroll;
          max-width:  95%;
          overflow-wrap: break-word; 
}

.selected-card {
  background: #ffffff;
  border-radius: 10px;
  padding: 1px 10px;
  margin: 10px;
  border-left: 4px solid #7f31d2;
  border-right: 4px solid #7f31d2;
  overflow-wrap: break-word; 

}

.card {
  border-radius: 10px;
  padding: 1px 10px;
  margin: 1rem 0.4rem;
  margin: 10px;
    

}
