.table-head {
  display: flex;
  gap: 10px;
  text-transform:uppercase;
font-weight: 800;
  align-items: center;
  background-color: #fff;
  width: 90%;
  font-size: clamp(2px, 1.5vw, 20px);
   background-color: inherit;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 20%);
  border-radius: 15px;
}

.table-head div {
  width: 25%;
  font-weight: 600;
  font-size: clamp(8px, 1.5vw, 20px);
  color: inherit;
  text-align: center;
}
.table-row {
  gap: 10px;
  display: flex;
  align-items: center;
  background-color: inherit;
  padding: 20px;
  width: 90%;
  text-transform: capitalize;
  border-radius: 20px;
  margin: 20px auto;
  border: 2px solid purple;
  font-size: clamp(8px, 1.8vw, 20px);
}


.table-row div {
  width: 25%;
  font-weight: 500;
  color: inherit;
  text-align: center;
  /* border: 1px solid #000000; */
}

.resume-btn {
  background: palevioletred;
  border-radius: 8px;
  color: #fff;
  padding: 5px;
  font-size: 11px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 900;
  font-size: clamp(8px, 1.2vw, 20px);
  text-align: center;

}
.action-btn{
  /* width: clamp(4px, 1.2vw, 20px) ; */
  font-size: clamp(8px, 1.2vw, 20px);
  margin-left: 0.4rem;
  margin-bottom: 0.4rem;


}
.action-btn-hidden{
  display: none;

}

 

 

 

 

